mixin tagBlock()
  div.row.text-muted
    div.col-sm-4
      div.glyphicon.glyphicon-time
      |  3 days ago
    div.col-sm-8
      div.glyphicon.glyphicon-tags
      strong  Tags:
        a(href="")  lorem
        | ,
        a(href="")  lorem
        | ,
        a(href="")  lorem

mixin mediaObject(title)
  div.media
    a.media-left(href="")
      img.img-circle(src="http://placehold.it/60x60" alt="...")

    div.media-body
      h4.media-heading #{title}
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

mixin footerUnit()
  div.col-sm-2
    h4 Hey there Buddy
    ul
      li kdlaksi
      li jrkhnw wlo
      li simwenfu
      li whdj ggd
      li jekwls gi
